@use "~/styles/helpers" as *;

.logo {
  &__image {
    @include desktop {
      width: rem(140);
    }

    @include mobile {
      width: rem(100);
    }
  }
	
  &:not(.footer-top__logo) {
    .logo__image {
      @include mobile-s {
        width: rem(75);
      }
    }
  }
}
