@use "~/styles/helpers" as *;

.soc1als-link {
	@include button-reset;
	@include square(var(--button-height-large));
	@include flex-center(true);

	border-radius: 50%;
	border: var(--border);
	color: var(--color-light);
	border-width: rem(2);

	& svg {
		width: 65%;
	}

	@include desktop {
		@include square(rem(60))
	}

	@include tablet {
		@include square(rem(50))
	}

	@include hover {
		opacity: 0.6;
	}
}