@use "~/styles/helpers" as *;

.services-accordion {
  padding: rem(30) rem(50);
  background: var(--color-gradient);
  border-radius: var(--border-radius);
  position: relative;
  min-width: rem(725);
  border: var(--border);
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition-duration: var(--transition-duration);

  @include desktop {
    min-width: rem(650);
    padding: rem(20) rem(40);
  }

  &:not(.services-accordion--active) {
    @include hover {
      opacity: 0.7;
			transition-duration: var(--transition-duration);
    }
  }

  &--active {
    background: var(--color-light);

    .services-accordion__button {
      color: var(--color-dark);
    }
  }

  &__button {
    @include button-reset;
    @include flex-center(true);
    @include fluid-text(40, 18);

    font-weight: 400;
    letter-spacing: 0.04em;
    font-family: var(--font-family-accent);
    color: var(--color-light);
    line-height: 1;
    width: 100%;
    justify-content: start;
  }

  &__price {
    @include fluid-text(36, 20);

    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.2;
    color: var(--color-accent);
    font-family: var(--font-family-accent);
    position: absolute;
    top: rem(30);
    right: rem(50);
    z-index: -1;

    @include desktop {
      top: rem(20);
      right: rem(40);
    }
  }

  &__collapse {
    overflow: hidden;
    height: 0px;
    transition-duration: var(--transition-duration);
  }

  &__description {
    @include fluid-text(20, 14);

    color: var(--color-dark);
    padding-top: rem(15);
    font-weight: 100;
    line-height: 1.3;
  }
}
