@use "~/styles/helpers" as *;

.button {
  @include button-reset;
  @include flex-center(true);

  font-weight: 400;
  font-size: rem(24);
	padding-inline: rem(28);
	height: var(--button-height);
	color: var(--color-light);
	border: var(--border);
	border-radius: var(--border-radius-small);
	background: var(--color-gradient);
	font-family: var(--font-family-accent);
	position: relative;
	z-index: 1;

	&::after {
		content: "";
		background: var(--color-gradient-hover);
		width: 100%;
		height: 100%;
		border-radius: inherit;
		position: absolute;
		inset: 0;
		opacity: 0;
		z-index: -1;
		transition-duration: var(--transition-duration);
	}

	&--phone {
		background: transparent;
		border-color: var(--color-accent);
	}

	@include hover(false) {
		&::after {
			opacity: 1;
		}
	}
}
