@use "~/styles/helpers" as *;

.arrow-button {
  @include button-reset;
  @include flex-center(true);
  @include square(rem(70));

  border-radius: 50%;
  border: var(--border);
  color: var(--color-light);
  background-color: rgba(59, 141, 242, 0.18);
  transition-duration: var(--transition-duration);
  z-index: 999;

  & svg {
    z-index: 100;
    width: 50%;
  }

  &::after {
    content: "";
    background: var(--color-gradient-hover);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: -1;
    transition-duration: var(--transition-duration);
  }

  &--right {
    transform: rotate(90deg);
  }

  &--left {
    transform: rotate(270deg);
  }

  @include hover(false) {
		color: var(--color-light);

    &::after {
      opacity: 1;
    }
  }

  &--scroll {
    position: fixed;
    bottom: rem(-80);
    right: rem(20);
    background-color: var(--color-accent-light);

    @include mobile {
      @include square(rem(50));
    }

    & svg {
      color: var(--color-dark);
    }

    @include hover(false) {
      transform: scale(1.1);
			color: var(--color-dark);

			&::after {
				opacity: 0;
			}
    }
  }

  &--visible {
    bottom: rem(20);
  }

	&--dark {
		color: var(--color-dark)
	}
}
