@use "~/styles/helpers" as *;

.benefits-card {
  display: flex;
  column-gap: rem(40);

  &__number {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: rem(36);
    color: var(--color-accent);
  }

  &__label {
    color: var(--color-dark);
    font-weight: 300;
    font-size: rem(32);
		text-wrap: nowrap;
  }
}
