@use "~/styles/helpers" as *;

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding-block: rem(40);
	border-bottom: var(--border);
	border-color: rgba(255, 255, 255, 0.7);

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
		align-items: end;
  }

  &__phone {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: rem(32);
    letter-spacing: 0.04em;
		color: var(--color-accent)
  }

	&__work {
		opacity: 0.7;
	}
}
