@use "~/styles/helpers" as *;

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-block: rem(60);

  &__body {
    display: flex;
    column-gap: rem(150);
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: rem(14);
    margin-bottom: rem(20);
    align-items: end;
  }

  &__email-link {
		@include fluid-text(28, 16);

    font-weight: 300;
    line-height: 1.41;
  }

	&__address {
		color: var(--color-gray-light);
	}
}
