@use "~/styles/helpers" as *;

.section {
  &:not(:last-child),
	&--last-section-margin {
    margin-bottom: rem(70);

		@include tablet {
			margin-bottom: rem(50);
		}
	
		@include mobile {
			margin-bottom: rem(30);
		}
  }

	&--comparation {
		margin-bottom: 0 !important; 
		position: relative;
	}

  &:has(.additions) {
    .section__header {
      text-align: center;
    }
  }

  &:has(.brands) {
    .section__inner {
      overflow: hidden;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(60);
    align-items: center;

    @include desktop {
      row-gap: rem(40);
    }

    @include mobile {
      row-gap: rem(20);
    }

    &--row {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      column-gap: rem(40);

      .section__title {
        text-align: start;
      }

      @include mobile {
        flex-direction: column;
        align-items: center;

        .section__title {
          text-align: center;
        }
      }
    }

    &--hero {
      padding-top: rem(140);

			@include desktop {
				padding-top: rem(180);
			}

			@include mobile {
				padding-top: rem(70);
			}
    }

    &--left {
      align-items: start;

			@include mobile {
				align-items: center;
			}
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);

		@include mobile {
			row-gap: rem(5);
		}

    &--margin-top {
      margin-top: rem(70);

      @include tablet {
        margin-top: rem(50);
      }

      @include mobile {
        margin-top: rem(30);
      }
    }
  }

  &__title {
    white-space: pre-line;
    text-align: center;

    &-accent {
      color: var(--color-accent);
    }
  }

  &__description {
		@include fluid-text(28, 12);

    line-height: 1.55;

		@include mobile {
			text-align: center;
		}
  }
}
