@use "~/styles/helpers" as *;

.section {
  &:not(:last-child) {
    margin-bottom: rem(70);
  }

  &:has(.additions) {
    .section__header {
      text-align: center;
    }
  }

  &:has(.brands) {
    .section__inner {
      overflow: hidden;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(60);
    align-items: center;

    &--row {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &--hero {
      padding-top: rem(120);
    }

    &--left {
			align-items: start;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);

    &--margin-top {
      margin-top: rem(100);
    }
  }

  &__title {
    white-space: pre-line;

    &-accent {
      color: var(--color-accent);
    }
  }

  &__description {
    font-size: rem(28);
    line-height: 1.55;
  }
}
