@use "~/styles/helpers" as *;

.section {
  margin-bottom: rem(70);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(60);
    align-items: center;

		&:has(.brands) {
			overflow: hidden;
		}

    &--row {
      flex-direction: row;
      justify-content: space-between;
			align-items: start;

      .section__title {
        max-width: rem(425);
				margin-top: rem(100);
      }
    }
  }

  &__title {
    &-accent {
      color: var(--color-accent);
    }
  }
}
