@use "../helpers/" as *;

.bg {
	&:not(:last-child) {
		margin-bottom: rem(70);
	}

	&__dark,
	&__accent-light {
		padding-block: rem(70);

		@include tablet {
			padding-block: rem(50);
		}

		@include mobile {
			padding-block: rem(30);
		}
	}

	&__dark {
		background: var(--color-gradient-dark);
		color: var(--color-light);
	}

	&__accent-light {
		background: var(--color-gradient-light);
	}
}