@use "~/styles/helpers" as *;

.contacts-soc1als-link {
  display: flex;
  align-items: center;
  column-gap: rem(30);

	@include mobile {
		column-gap: rem(20);
	}

  & svg {
    color: var(--color-accent);
		width: fluid(44, 22);
		height: auto;
  }

  @include hover(false) {
    opacity: 0.6;
  }
}
