@use "~/styles/helpers" as *;

.brands {
	align-self: start;
  &__list {
    display: flex;
    align-items: center;
    column-gap: rem(100);
    animation: marquee 30s linear infinite;
    width: max-content;
    will-change: transform;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
