@use "~/styles/helpers" as *;

.brands {
  align-self: start;

  &__list {
    display: flex;
    align-items: center;
    column-gap: rem(100);
    animation: marquee 30s linear infinite;
    width: max-content;
    will-change: transform;

    @include desktop {
      column-gap: rem(60);
    }

    @include mobile {
      column-gap: rem(36);
    }
  }

  &__item {
    @include flex-center;
  }

  &__image {
    width: auto;
    height: auto;

    @include desktop {
      max-width: rem(330);
      max-height: rem(130);
    }

    @include tablet {
      max-width: rem(300);
      max-height: rem(115);
    }

    @include mobile {
      max-width: rem(120);
      max-height: rem(55);
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
