@use "~/styles/helpers" as *;

.about {
	&__inner {
		display: flex;
		flex-direction: column;
		row-gap: rem(70);
	}

  &__text {
		font-size: rem(32);
    line-height: 1.5;
    text-align: center;
		
		&-accent {
			font-style: italic;
			font-weight: 500;
		}
  }

	&__images {
		display: flex;
		justify-content: space-between;
		column-gap: rem(20);
	}

	&__image {
		border-radius: var(--border-radius-large);
	}
}
