@use "~/styles/helpers/" as *;

.faq-card {
  padding: rem(36);
  border: var(--border);
  border-radius: var(--border-radius-small);
  background: rgba(255, 255, 255, 0.94);
  max-width: rem(1000);
  font-size: rem(28);
  line-height: 1.41;

  &[open] {
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    row-gap: rem(30);

    .faq-card__title {
      font-weight: 200;
      font-style: italic;

			&::after {
				rotate: 45deg;
			}
    }
  }

  &__title {
    list-style: none;
    cursor: pointer;
		position: relative;
		display: flex;
		column-gap: rem(45);
		justify-content: space-between;

		&::after {
			@include square(rem(24));

			content: "";
			background: url("../../assets/icons/plus.svg") center / cover no-repeat;
			flex-shrink: 0;
			transition-duration: var(--transition-duration);
		}
  }
}
