@use "~/styles/helpers" as *;

.steps-card {
  &__image {
    @include square(rem(100));
    @include flex-center(true);

    border-radius: 50%;
    background-color: var(--color-accent-light);

		@include desktop {
			@include square(rem(80));

			& svg {
				@include square(rem(45))
			}
		}

		@include tablet {
			@include square(rem(60));

			& svg {
				@include square(rem(35))
			}
		}

		@include mobile {
			@include square(rem(50));

			& svg {
				@include square(rem(30))
			}
		}
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    line-height: 1.55;

		@include tablet {
			row-gap: rem(12);
		}

		@include mobile {
			row-gap: rem(6) 
		}
  }

  &__title {
		@include fluid-text(36, 14);

    font-weight: 300;
    font-family: var(--font-family-base);
  }

  &__description {
		@include fluid-text(28, 12);
  }
}