@use "~/styles/helpers" as *;

.cta {
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(15);
		align-items: end;
  }

  &__text {
    font-weight: 100;
    font-size: rem(15);
    line-height: 1.27;
		max-width: rem(275);
  }
}
