@use "~/styles/helpers" as *;

.link {
  @include button-reset;
  @include flex-center(true);
  @include fluid-text(24, 16);

  font-weight: 400;
  padding-inline: rem(28);
  height: var(--button-height);
  color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius-small);
  background: var(--color-gradient);
  font-family: var(--font-family-accent);
  position: relative;
  z-index: 1;

  @include mobile {
    padding-inline: rem(21);
  }

  &::after {
    content: "";
    background: var(--color-gradient-hover);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: -1;
    transition-duration: var(--transition-duration);
  }

	&--transparent {
		background: transparent;
		border: none;
	}
	
  &--border {
    background: transparent;
    border-color: var(--color-accent);
  }
	
	&--dark {
		color: var(--color-dark);
	}
	
  @include hover(false) {
		color: var(--color-light);

    &::after {
      opacity: 1;
    }
  }
}
