@use "~/styles/helpers" as *;

.footer-bottom {
  padding-block: rem(60);
  display: flex;
  align-items: flex-end;

  @include tablet {
    flex-wrap: wrap;
    gap: rem(20);
  }

  @include mobile-s {
    padding-block: rem(15) rem(30);
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
    min-width: 0;

    @include tablet {
      flex: 1 1 0;
    }
  }

	&__copyright {
		@include fluid-text(20, 14)
	}

  &__text {
    @include fluid-text(18, 14);

    max-width: rem(580);
    width: auto;
    min-width: 0;
    line-height: 1.41;

    @include tablet {
      max-width: none;
    }
  }

  &__developers {
    @include fluid-text(18, 14);

    display: flex;
    flex-direction: column;
    line-height: 1.25;
    margin-left: rem(110);

    @include desktop {
      margin-left: rem(30);
    }

    @include tablet {
      order: 3;
      flex: 0 0 100%;
      width: 100%;
      margin-left: 0;
    }
  }

  &__developer {
    color: var(--color-accent);

    &-link {
      @include hover {
        text-decoration: underline;
      }
    }
  }

  &__soc1als {
    margin-left: auto;

    @include tablet {
      order: 2;
      flex: 0 0 auto;
    }
  }
}
