@use "~/styles/helpers" as *;

.steps {
	width: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &__item {
    &:nth-child(2n) {
			align-self: start;

      .steps-card {
        flex-direction: row-reverse;
      }
    }
  }
}
