@use "~/styles/helpers/" as *;

.faq-accordion {
  padding: rem(36);
  border: var(--border);
  border-radius: var(--border-radius-small);
  background: rgba(255, 255, 255, 0.94);
  max-width: rem(1000);
  font-size: rem(28);
  line-height: 1.41;
  display: flex;
  flex-direction: column;

  &--open {
    background-color: var(--color-light);

    .faq-accordion__header {
      font-weight: 200;
      font-style: italic;

      &::after {
        transform: rotate(45deg)
      }
    }
  }

  &__header {
    @include button-reset;

    width: 100%;
    text-align: start;
    position: relative;
    display: flex;
    column-gap: rem(45);
    justify-content: space-between;
    transition-duration: 0s;

    &::after {
      @include square(rem(24));

      content: "";
      background: url("../../assets/icons/plus.svg") center / cover no-repeat;
      flex-shrink: 0;
      transition-duration: var(--transition-duration);
    }
  }

  &__collapse {
    height: 0;
    overflow: hidden;
    transition-duration: var(--transition-duration);
  }

	&__body {
		padding-top: rem(30);
	}
}
