@use "~/styles/helpers" as *;

.mobile-modal {
  background: linear-gradient(
    329deg,
    rgba(1, 0, 11, 0.90) 0%,
    rgba(1, 0, 11, 0.15) 98.56%
  );
  backdrop-filter: blur(14px) !important;
  position: fixed;
  inset: 0;
  z-index: 999;
	height: 100vh;
	
  &__inner {
		padding: rem(42) rem(20);
		display: flex;
		flex-direction: column;
		height: 100%;
  }

  &__header {
    text-align: end;
    margin-bottom: rem(30);
  }

  &__close-button {
    @include button-reset;
    @include square(rem(26));
		@include flex-center(true);

    color: var(--color-light);

		& svg {
			width: 100%;
		}
  }

	&__body {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__menu {
		display: flex;
		justify-content: center;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: auto;
	}

	&__email {
		font-weight: 200;
		margin-bottom: rem(10);
	}
}
