@use "~/styles/helpers" as *;

.reviews {
	width: 100%;
	
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(60);
    align-items: center;

    @include tablet {
      row-gap: rem(40);
    }

		@include mobile {
			row-gap: rem(20);
		}
  }

  &__list {
    display: flex;
    column-gap: rem(30);
    position: relative;

    @include desktop {
      flex-direction: column;
      row-gap: rem(30);
    }

    &::after {
      content: "";
      position: absolute;
      top: rem(-70);
      left: 0;
      width: 100%;
      height: calc(100% + rem(140));
      opacity: 0.15;
      background-color: var(--color-accent);
      filter: var(--filter);
    }
  }

	&__slider {
		width: 100%;
	}

  &__buttons {
    display: flex;
    column-gap: rem(30);
  }
}
