@use "~/styles/helpers" as *;

.reviews {
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(60);
    align-items: center;

		@include mobile {
			padding-right: 0 !important;
		}
  }

  &__body {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: rem(20);
    position: relative;

    @include tablet {
      row-gap: rem(40);
    }

    @include mobile {
      row-gap: rem(20);
    }

    &::after {
      content: "";
      position: absolute;
      top: rem(-70);
      left: 0;
      width: 100%;
      height: calc(100% + rem(140));
      opacity: 0.15;
      background-color: var(--color-accent);
      filter: var(--filter);
    }
  }

  &__swiper-button {
    flex-shrink: 0;
  }

  &__links {
    display: flex;
    column-gap: rem(30);

    @include mobile {
      column-gap: rem(10);
    }
  }
}
