@font-face {
	font-family: "Seenonim";
	src: url(/fonts/Seenonim-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Geologica";
	src: url(/fonts/Geologica-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Geologica";
	src: url(/fonts/Geologica-Light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Geologica";
	src: url(/fonts/Geologica-ExtraLight.woff2) format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Geologica";
	src: url(/fonts/Geologica-Thin.woff2) format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
