@use "./../helpers" as *;

body {
  font-family: var(--font-family-base);
  font-weight: 100;
  font-size: rem(24);
  line-height: 1.55;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button,
input,
label,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 400;
  font-family: var(--font-family-accent);
  letter-spacing: 0.04em;
	line-height: 1.06;
}

h1,
.h1,
h2,
.h2 {
  font-size: rem(50);
}

h3,
.h3 {
  font-size: rem(40);
}

:not(input):focus-visible {
  outline: rem(2) dashed red;
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
