@use "./../helpers" as *;

:root {
	--color-light: #fff;
	--color-dark: #000;
	--color-gray: #3b3b3b;
	--color-accent: #3b8df2;
	
	--color-gradient-dark: linear-gradient(134deg, #000 0%, #080824 100%);
	--color-gradient: linear-gradient(152deg, rgba(59, 141, 242, 0.35) 10.1%, rgba(8, 8, 36, 0.01) 46.66%, rgba(59, 141, 242, 0.36) 87.72%);
	--color-gradient-hover: linear-gradient(152deg, #3b8df2 10.1%, rgba(8, 8, 36, 0.79) 46.66%, #3b8df2 87.72%);
	--color-gradient-light: linear-gradient(153deg, rgba(59, 141, 242, 0.12) 0%, rgba(59, 141, 242, 0.16) 100%);

	--font-family-accent: "Seenonim", sans-serif;
	--font-family-base: "Geologica", sans-serif;

	--container-width: #{rem(1680)};
	--container-padding-x: #{rem(25)};

	--button-height: #{rem(70)};

	--border: #{rem(1)} solid currentColor;

	--border-radius-small: #{rem(10)};
	--border-radius: #{rem(15)};
	--border-radius-large: #{rem(20)};

	--filter: blur(#{rem(200)});

	--transition-duration: .25s;
}