@use "~/styles/helpers" as *;

.footer-group {
	&__title {
		@include fluid-text(24, 16);

		margin-bottom: rem(20);

		@include mobile-s {
			margin-bottom: rem(16);
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: rem(14);

		@include mobile-s {
			row-gap: rem(10);
		}
	}

	&__item {
		color: var(--color-gray-light)
	}

	&__link {
		@include hover(true) {
			color: var(--color-accent);
		}
	}
}