@use "~/styles/helpers" as *;

.header {
  background-color: transparent;
  padding-block: rem(40);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
	color: var(--color-light);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    display: flex;
    column-gap: rem(20);
  }
}
